.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: 'Spicy Rice', cursive;

}


.navbar-default .navbar-nav>.active>a{
    color: white;
    background: #294550;
    font-family: 'Spicy Rice', cursive;

}
.border-title{
    font-size: 60px;color: #E1C0A9
}
.title{
    font-family: 'Spicy Rice', cursive;color: #73978C;margin-left: 8px;font-size: 2em
}
.top-cover{
    background-image: url('images/cover.png');
    background-size: cover
}
.card-img{
background: rgb(180, 178, 175);
padding: 20px;
}
.card-title{
background: #7a7a7a;
padding: 30px;
text-align: center;font-family: 'Indie Flower', cursive;
font-size: 20px;
color: white
}